---
layout: page
permalink: /blog
---

<div class="posts">

{% for post in site.posts %}

    <article class="post all
                {% for tag in post.tags %}
                    filterable-{{tag}}
                {% endfor %} "  style="display: block;">
<!--    <hr />-->

    <div class="row" style="margin-left: 5px; margin-right: 5px; margin-bottom: 5px; padding-top: 5px; padding-bottom: 5px;
    border-radius: 10px; border: #eeeeee 1px solid; ">
        <div  class="col-md-3 hidden-xs hidden-sm" style="text-align:center; alignment: center">
    <img src="{{ site.baseurl }}/images/{{post.name_file}}/teaser.png"
         style="display: inline-block; max-width: 125px; margin-top: 5px; border-radius: 10px;"/>

        </div>

        <div  class="col-md-9">
            <h1>{{post.date | slice: 0,10}}</h1>
            <h1> <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
            <p style="font-size: 12px;"><i> {{post.lead | slice: 0,256 }}</i><b>...</b></p>

            {% if post.translated != None %}
            <h1>  <a href="{{ site.baseurl }}{{post.translated}}">Tradução em Português 🇧🇷</a></h1>
            {% endif%}
        </div>
    </div>

    </article>
{% endfor %}
<hr />

</div>
