---
layout: page
title:
permalink: /media
---

<div class="posts">
    <div style="text-align: center">

  {% for med in site.media reversed %}

        <div class="entry pub" style="width: 215px">
        <h1> {{med.venue}} <i>{{med.year}}</i></h1>
            <hr/>
        <p><a href={{ med.link}}>{{ med.title }}</a> </p>
        {% assign flag = 0 %}

        {% for pub in site.publications reversed %}
            {% if pub.title == med.related_paper %}
        <p class="small"> Coverage of: <a href={{ pub.src}}>{{ pub.title }}</a> </p>
            {% endif %}
        {% endfor %}
        {%if med.archive != "" %}
        <i><a href={{ med.archive}} >(archive)</a></i>

        {% endif %}
      </div>

  {% endfor %}
            </div>
</div>
