---
layout: page
title:
permalink: /publications
---

<div style="align: center; text-align: center;">

<div style="max-width: 325px; display: inline-block; border-radius: 10px; border: #eeeeee 1px solid; padding: 5px; margin-bottom: 5px;" >
    <small style="font-size: 12px;">
        For a complete list, check <a href="https://scholar.google.com/citations?user=IN55QyEAAAAJ&hl=en">Google Scholar</a>.
        <br />

        ☆: Papers with students I helped to supervised

    </small>

</div>
</div>

<div class="posts">


{% for n in (2017..2024) reversed %}

    {% if n == 2017 %}
        <h2 style="margin: 0px; text-align: center;">Pre-prints</h2>
<!--    <br />-->
    {% else %}
    <h2 style="margin: 0px; text-align: center;">{{n}}</p>
<!--    <br />-->
    {% endif %}

<!--    <hr />-->

  {% for pub in site.publications reversed %}
    {% if pub.year == n %}


    <article class="post all
                {% for tag in pub.tags %}
                    filterable-{{tag}}
                {% endfor %} "
    style="display: block;">

    <div class="row" style="margin-left: 5px; margin-right: 5px; margin-bottom: 5px; padding-top: 5px; padding-bottom: 5px;
    border-radius: 10px; border: #eeeeee 1px solid; ">

    <div  class="col-md-3 hidden-xs hidden-sm" style="text-align:center; alignment: center">
      <img src="{{ site.baseurl }}/images/paper_teasers/{{pub.name_file}}.png" style="display: inline-flex; max-width: 100px"/>

    </div>

    <div  class="col-md-9" style="text-align: center">

        <h1 style="text-align: left; font-size: 10px;">{{pub.award}}</h1>

        <h1 style="text-align: left; font-size: 14px; margin: 0px; padding-bottom: 2px; padding-top: 1px">
            {{ pub.title }}<sup><small>{{pub.student}}</small></sup>
        </h1>
                <p class="stuff" style="text-align: left; font-size: 10px; margin: 0px;">

                    [{{pub.conf}}] —
                    {% for link_content in pub.links %} <a href="{{link_content.content}}"> {{link_content.name}}</a> | {% endfor %}
                    </p>


        <p class="author-tag" style="text-align: left">{% for author in pub.authors %}
            {% if author == "Manoel Horta Ribeiro" %}
            <b style="display: inline-block">{{ author }} |</b>
            {% else %}
            {% if author == "Manoel Horta Ribeiro *" %}
            <b style="display: inline-block">{{ author }} |</b>
            {% else %}
            <span style="display: inline-block"> {{ author }} |</span>
            {% endif %}
            {% endif %}
            {% endfor %}</p>
        {% assign flag = 0 %}
        {% for med in site.media reversed %}
        {% if pub.title == med.related_paper %}
            {% assign flag = 1 %}
        {% endif %}
        {% endfor %}

        {% if flag == 1 %}
        <p class="stuff" style="text-align: left">
            Media Coverage:
        {% for med in site.media reversed %}
        {% if pub.title == med.related_paper %}
            <a href="{{ med.link}}" style="display: inline-block">{{ med.venue }} |</a>
        {% endif %}
        {% endfor %}
                </p>
        {% endif %}

    </div>
    </div>
    </article>
<!--            <br />-->

    {% endif %}

  {% endfor %}

{% endfor %}

<!--    <hr />-->

</div>
