<div class="effect varrius" style="alignment: center">
    <p> {{ site.footer-links.email }} </p>
        <div class="buttons">

       {% if site.footer-links.github %}<a href="https://github.com/{{ site.footer-links.github }}"><i
            class="fa fa-github"></i></a>{% endif %}
        {% if site.footer-links.linkedin %}<a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}"><i
            class="fa fa-linkedin"></i></a>{% endif %}
        {% if site.footer-links.twitter %}<a href="https://www.twitter.com/{{ site.footer-links.twitter }}"><i
            class="fa fa-twitter"></i></a>{% endif %}
        {% if site.footer-links.youtube %}<a href="https://youtube.com/{{ site.footer-links.youtube }}"><i
            class="fa fa-youtube"></i></a>{% endif %}

    </div>

</div>