.newsbox {

  border: $lightGray 1px solid;

  ul {
    margin-left: 1px;
    padding-left: 0;
  }

  .datev {
    padding-left: 5px;

    font-size: 9px;
    font-weight: bold;

  }

  td {
    //background: #FEFEFE;
    background: #FEFEFF;
    font-size: 11px;
    padding-bottom: 3px;
    padding-top: 3px;
  }

  tr {
    margin-bottom: 3px;
    margin-top: 3px;
  }
  //li:nth-child(odd) {
  //  background: #FFFEFE;
  //}
}


.authors {
    font-size: 12px;
}

.conference {
    font-size: 12px;
}

.papertitle {
    font-size: 14px;
}

.titlebox {
    float: left;
    padding: 0px;
    margin: -19px 0 0 10px;
    background: #fff;
    font-size: 12px;
    font-family: "Rock Salt", sans-serif;
}



.paper {
    width: 80%;
    height: auto;
    margin: 10px auto;
    padding: 1px;
    position: relative;
    border: 1px solid $lightGray;
    line-height: 90%;

    p {
        padding: 0px;
        margin: 0px;
    }

    .papertitle {
        font-family: "Raleway", monospace;
    }

}

.news {
    display: table;
}

.table_cell {
    display: table-cell;
    padding: 5px;
    width: 50%;
    height: auto;
    top: 0px;
    line-height: 90%;
}

.table_cell_header {
    float: left;
    padding: 0px;
    margin: -10px 0 0 0px;
    background: #fff;
    font-size: 14px;
    color: $blue;
}


.category {
    float: right;
    padding: 0px;
    margin: -10px 0 0 0px;
    background: #fff;
    font-size: 10px;
    color: $gray;
        font-family: "Rock Salt", sans-serif;

}

.source {
    font-size: 12px;
    padding: 0;
    margin: 0;
}

sub {
    font-size: 10px;
    text-align: center;
}

img + em {
    font-size: 14px;
    text-align: center;
    display: block;
}
