
//
// VARIABLES
//

@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Lora');
@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display|Raleway|Futura|IBM+Plex+Serif');
@import url('https://fonts.googleapis.com/css2?family=Anton');
// Colors
$blue: #4183C4;
$lightBlue: #69abec;
$lighterBlue: #e6e6ff;
$black: #000000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$body: 'IBM Plex Serif', serif;
$nav: 'IBM Plex Serif', serif;
$title: 'georgia', serif;
$georgia: 'Lora', serif;
$display: 'Baskerville', sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}